# Default ignored files
/shelf/
/workspace.xml

.idea/
.idea/inspectionProfiles/
.idea/runConfigurations/
.idea/vcs.xml
.idea/inspectionProfiles/
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/profiles.xml

